@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --font-fam-p: "Noto Sans JP", sans-serif;
    --font-fam-s: "Pacifico", cursive; 
    --font-s-h1: 2rem;
    --font-s-exl: 5rem;
    --font-s-l: 4rem;
    --font-s-m: 3rem;
    --font-s-sm: 1.5rem;
    --font-s-esm: 0.8rem;
}
.main-anime-img, .explore-c {
    padding-top: 4rem;
}
.explore-c {
    margin-top: 5rem;
    width: 20vw;
}
.img-desc-c {
    display: flex;
}
.explore-p {
    font-family: var(--font-fam-s);
    font-size: var(--font-s-m);
}
.explore-btn {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 0.4rem 0.6vw;
    width: 20vw;
    font-size: var(--font-s-m);
    border-radius: 30px;
}
.exp-icon-c {
    width: 3vw;
    height: 3rem;
    border-radius: 50%;
    background-color: orange;
    margin-left: 0.8vw;
}