@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --font-fam-p: "Noto Sans JP", sans-serif;
    --font-fam-s: "Pacifico", cursive; 
    --font-s-h1: 2rem;
    --font-s-exl: 5rem;
    --font-s-l: 4rem;
    --font-s-m: 3rem;
    --font-s-sm: 1.5rem;
    --font-s-c: 1.2rem;
    --font-s-esm: 0.8rem;

    --color-c: #000;
}
.main-ca-sec {
    max-height: 86vh;
    overflow: hidden;
}
.main-anime-img, .explore-c {
    padding-top: 1rem;
}
.explore-c {
    margin-top: 5rem;
    width: 20vw;
    margin-left: 1.5vw;
}
.img-desc-c {
    display: flex;
}
.explore-p {
    font-family: var(--font-fam-s);
    font-size: var(--font-s-m);
}
.explore-btn {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 0.4rem 0.6vw;
    width: 20vw;
    font-size: var(--font-s-m);
    border-radius: 30px;
}
.exp-icon-c {
    width: 3vw;
    height: 3rem;
    border-radius: 50%;
    background-color: orange;
    margin-left: 0.8vw;
}
.ep-ch-stat-c {
    display: flex;
    align-items: center;
    font-family: var(--font-fam-p);
    font-size: var(--font-s-c);
    width: fit-content;
    position: relative;
    top: -10rem;
    padding: 1.4rem 2.4vw;
    background-color: rgba(177, 177, 177, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 25vw;
    height: 13rem;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 50px;
}
.completed-head {
    margin-bottom: 1.2rem;
    
}
.num-ep, .num-ch {
    font-size: var(--font-s-sm);
    color: orange;
    font-weight: 800;
}
.num-ch {
    position: relative;
    top: 0.5rem;
}
.ep-ch-c {
    display: flex;
    align-items: center;
}
.ep-stat, .ch-stat {
    padding: 0.5rem 0.8vw;
    background-color: #fefefa;
    border-radius: 10px;
    /* border-bottom-left-radius: 30px; */
    /* border-bottom-right-radius: 30px; */
}
.ch-stat {
    position: relative;
    top: 1.4rem;
}
.continue-btn {
    position: relative;
    top: 3rem;
    left: 12vw;
    background-color: orange;
    width: 2.2vw;
    height: 2.2rem;
    padding: 0.29rem 0.23vw;
    /* border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%; */
    border-radius: 10px;
}
.ep-ch-div {
    position: relative;
    left: 4rem;
    top: -3.5rem;
    transform: rotate(90deg);
    width: 100px;
    margin-left: 0.7vw;
}
.function-icons-d {
    position: relative;
    top: 10rem;
    left: 20vw;
}

.continue-watching-d {
    font-family: var(--font-fam-p);
    position: relative;
    display: flex;
    align-items: center;
    top: -15rem;
    left: 59vw;
    width: 19vw;
    font-size: var(--font-s-sm);
    color: aliceblue;
    border-radius: 10px;
    padding: 1.2rem 1.2rem;
    background-color: rgba(212, 110, 8, 0.548);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.cw-icon {
    width: 2vw;
    margin-left: 0.4vw;
    padding: 0 0.2vw;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}